<h1><%= "Invoice Number: #{@invoice.id}" %></h1>
<p><%= "Invoice Status: #{@invoice.status}" %></p>
<p><%= "Created On: #{@invoice.created_at.strftime("%A, %B %d, %Y")}" %></p>
<p><%= "Customer: #{@invoice.customer_full_name}" %></p>
