<h1>Merchants</h1>
<ul>
  <% @merchants.each do |merchant| %>
    <section id= "merchant-<%= merchant.id %>">
      <li>
        <%= link_to merchant.name, admin_merchant_path(merchant) %>
        <%= button_to (merchant.enabled? ? 'Disable' : 'Enable'), update_status_admin_merchant_path(merchant), method: :patch %>
      </li>
    </section>
  <% end %>
</ul>